In [1]:
import pandas as pd

In [69]:
df_cols = ['Datetime','Open','High','Low','Close','Adj Close','Volume']
df = pd.read_csv('AAPL.csv', header=None, names=df_cols, index_col='Datetime')

In [62]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-06-11 09:30:00-04:00,126.529999,126.690002,126.250000,126.269997,126.269997,1875715
2021-06-11 09:31:00-04:00,126.269997,126.309998,126.129997,126.157501,126.157501,357126
2021-06-11 09:32:00-04:00,126.180000,126.239998,126.110001,126.230003,126.230003,295562
2021-06-11 09:33:00-04:00,126.239998,126.419998,126.099998,126.400002,126.400002,379777
2021-06-11 09:34:00-04:00,126.419998,126.480003,126.300003,126.339996,126.339996,262214

In [70]:
df['Swing'] = abs(df['High'] - df['Low'])
df1 = df[df['Swing'] == max(df['Swing'])].copy()
df1['Type'] = 'Max Swing'
df1['Ticker'] = 'AAPL'

In [72]:
df2 = df[df['Volume'] == max(df['Volume'])].copy()
df2['Type'] = 'Max Volume'
df2['Ticker'] = 'AAPL'

In [73]:
df2

,Open,High,Low,Close,Adj Close,Volume,Swing,Type,Ticker
Datetime,,,,,,,,,
2021-06-11 09:30:00-04:00,126.529999,126.690002,126.25,126.269997,126.269997,1875715,0.440002,Max Volume,AAPL

In [76]:
result = pd.concat([df1, df2])

In [78]:
result.set_index(['Type', 'Ticker'])

,,Open,High,Low,Close,Adj Close,Volume,Swing
Type,Ticker,,,,,,,
Max Swing,AAPL,126.529999,126.690002,126.25,126.269997,126.269997,1875715,0.440002
Max Volume,AAPL,126.529999,126.690002,126.25,126.269997,126.269997,1875715,0.440002