In [2]:
import pandas as pd

In [20]:
df_cols = ['Datetime','Open','High','Low','Close','Adj Close','Volume']

tickers = ['AAPL', 'TSLA']
df_aapl = pd.read_csv('AAPL.csv', header=None, names=df_cols)
df_tsla = pd.read_csv('TSLA.csv', header=None, names=df_cols)

In [21]:
output_dfs = []
for ticker in tickers:
    df = pd.read_csv(ticker + '.csv', header=None, names=df_cols)
    df['Swing'] = abs(df['High'] - df['Low'])
    max_swing_df = df[df['Swing'] == max(df['Swing'])].copy()
    max_swing_df['Type'] = 'Max Swing'
    max_swing_df['Ticker'] = ticker
    
    max_volume_df = df[df['Volume'] == max(df['Volume'])].copy()
    max_volume_df['Type'] = 'Max Volume'
    max_volume_df['Ticker'] = ticker
    
    output_dfs.extend([max_swing_df, max_volume_df])

In [29]:
result = pd.concat(output_dfs)

In [38]:
result = result.drop(columns=['Open', 'Close', 'Adj Close'])

In [42]:
result["Time"] = result['Datetime'].str.slice(start=11)

In [46]:
result.drop(columns=['Datetime']).set_index(['Type', 'Ticker', 'Time'])

                                        High         Low   Volume     Swing
Type       Ticker Time
Max Swing  AAPL   09:30:00-04:00  136.419998  136.089996  1898923  0.330002
Max Volume AAPL   09:30:00-04:00  136.419998  136.089996  1898923  0.330002
Max Swing  TSLA   15:50:00-04:00  673.909973  669.900024   282656  4.009949
Max Volume TSLA   09:30:00-04:00  689.640015  686.440002  1023025  3.200012

In [13]:
df_a['Swing'] = abs(df_a['High'] - df_a['Low'])
df1 = df[df['Swing'] == max(df['Swing'])].copy()
df1['Type'] = 'Max Swing'
df1['Ticker'] = 'AAPL'

In [14]:
df2 = df[df['Volume'] == max(df['Volume'])].copy()
df2['Type'] = 'Max Volume'
df2['Ticker'] = 'AAPL'

In [15]:
df2

,Datetime,Open,High,Low,Close,Adj Close,Volume,Swing,Type,Ticker
0,2021-06-30 09:30:00-04:00,136.169998,136.419998,136.089996,136.320007,136.320007,1898923,0.330002,Max Volume,AAPL

In [16]:
result = pd.concat([df1, df2])

In [18]:
result.set_index(['Type', 'Ticker'])

,,Datetime,Open,High,Low,Close,Adj Close,Volume,Swing
Type,Ticker,,,,,,,,
Max Swing,AAPL,2021-06-30 09:30:00-04:00,136.169998,136.419998,136.089996,136.320007,136.320007,1898923,0.330002
Max Volume,AAPL,2021-06-30 09:30:00-04:00,136.169998,136.419998,136.089996,136.320007,136.320007,1898923,0.330002